@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* font-family: "Quicksand", serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", serif; */
/* font import ends here */

/* Universal styles */
* {
    margin: 0;
    padding: 0;
}

.quicksand {
    font-family: "Quicksand", serif;
}

button:hover,
a:hover {
    background-color: aquamarine;
}

a {
    text-decoration: none;
}
body{
    position: absolute;
    /* width: 100vw; */
    /* height: 100vh; */

}
/* navbar styling starts here */

.school-nav-bar {
    margin: 20px 140px;
    display: flex;
    justify-content: space-between;
    /* height: 62px; */

}

.school-logo {
    /* width: 202px; */
    display: flex;
    align-items: center;
}

.logo-title {
    font-size: 32px;
    font-weight: bold;
}

.nav-bar-options ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 16px 0;
}

.nav-bar-options li {
    font-size: 20px;
    font-weight: bold;
}

.li-color-1 {
    color: orange;
}

.li-color-2 {
    color: skyblue;
}

.li-color-3 {
    color: rgba(5, 212, 223, 1);
}

.li-color-4 {
    color: rgba(93, 88, 239, 1);
}

.contact-btn {
    margin: 6px 0;
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    background-color: orange;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
}

/* navbar styling ends here */
/* marquee styling starts here */
.marquee{
    font-size: 20px;
    color: white;
    font-weight: 700;
    background-color: blueviolet;
    text-align: center;
}
/* marquee styling ends here */
/* banner section starts here */
.banner-container{
    margin: 0 140.39px 0 141px;
    display: flex;
    gap: 50px;
    max-height: 575px;
}
.banner-texts{
    margin: 122px 0;
    max-width: 640px;
}
.banner-title{
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 24px;
}
.hero-bg{
    max-width: 468.61px;
}
.banner-subtitle{
    font-size: 13px;
    margin-bottom: 24px;
}
.enroll-btn{
    width: 197px;
    font-size: 13px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 47px;
    border-radius: 12px;
}
/* banner section ends here */

/* main stars here */
main{
    background-image: url(../assets/bg.png);
}
/* curriculum section starts here */
.curriculum-headline{
    padding: 60px 489.7px 80px 489.7px;
    font-size: 30px;
    font-weight: bold;
    width: 460.61px;
    height: 57.5px;
}
.curriculum-container{
    margin: 0 140px 80px 140px;
}
.curriculum-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28.29px;
    text-align: center;
    height: 476.78px;
    
}
.curriculum-card-1{
    background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) 40%);
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
}
.curriculum-image{
    margin: 58.82px 0 32.07px 0;
}
.curriculum-title{
    font-size:16px;
    font-weight: bold;
    color: rgba(32, 32, 32, 1);
    margin-bottom: 33px;
}
.curriculum-subtitle{
    font-size: 15px;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    margin: 0 40px 33px 40px;
    font-family: "Raleway", serif;
}
.read-more{
    font-size: 15px;
    font-weight: bold;
}
.curriculum-card-2{
    background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) 40%);
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
}
.curriculum-card-3{
    background-image: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) 40%);
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
}
/* curriculum section ends here */
/* arrow section starts here */
.arrows{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
}
.left-arrow{
    background-color: orange;
    width: 60px;
    height: 60px;
    /* margin-left: 655px; */
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.right-arrow{
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
/* arrow section ends here */
/* story section starts here */
.stories{
    background-image: linear-gradient(to top,rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3));
}
.story-headline{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
}

.box-of-story{
    display: flex;
    gap: 18px;
    margin: 0 140px 80px 140px;
}
.story-card-P1{
    width: 40%;
    background-color: white;
    border-radius: 16px;
}
.story-card-P2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    gap: 18px;
}
.story-img-p1{
    width: 100%;
    background-image: linear-gradient(rgba(217, 217, 217, 1),rgba(115, 115, 115, 1));
    border-radius: 10px;
}
.story-img{
    width: 100%;
}
.story-text{
    padding: 33px;
}
.story-time{
    position: relative;
    top: -18.5px;
    left:38px;
    width: 174px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    font-family: "Raleway", serif;
}
.story-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 47px;
}
.story-synopsis{
    font: 15px;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}
.story-img{
    border-radius: 16px;
}
.story-card-2, .story-card-3, .story-card-4, .story-card-5{
    background-color: white;
    border-radius: 16px;
}
.view-align{
    display: flex;
    justify-content: center;
}
.view-btn{
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    margin-bottom: 60px;
}
/* story section ends here */

/* footer starts here */
footer{
    background-image: none;
    background-color: rgba(1, 172, 253, 1);
    height: 519px;
}
.footer-container{
    padding: 123px 228px 174px 140px;
    display: flex;
    justify-content: space-between;
}
.mini-edu{
    display: flex;
    gap: 10.7px;
    margin-bottom: 35px;
}
.mini-edu h1{
    font-size: 35px;
    font-weight: bold;
    color: white;
    width: 206px;
    height: 80px;
}
.edu-gyan{
    width: 400px;
    font-size: 20px;
    color: white;
}
.about-title{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}
.about-ul{
    list-style-type: none;
}
.about li{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.communication h3{
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}
/* footer ends here */

/* main ends here */
