@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* font-family: "Quicksand", serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", serif; */
/* font import ends here */

/* Universal styles */
* {
    margin: 0;
    padding: 0;
}

.quicksand {
    font-family: "Quicksand", serif;
}

button:hover,
a:hover {
    background-color: aquamarine;
}

a {
    text-decoration: none;
}

/* navbar styling starts here */

.school-nav-bar {
    margin: 20px 140px;
    display: flex;
    justify-content: space-between;
    /* height: 62px; */

}

.school-logo {
    /* width: 202px; */
    display: flex;
    align-items: center;
}

.logo-title {
    font-size: 32px;
    font-weight: bold;
}

.nav-bar-options ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 16px 0;
}

li {
    font-size: 20px;
    font-weight: bold;
}

.li-color-1 {
    color: orange;
}

.li-color-2 {
    color: skyblue;
}

.li-color-3 {
    color: rgba(5, 212, 223, 1);
}

.li-color-4 {
    color: rgba(93, 88, 239, 1);
}

.contact-btn {
    margin: 6px 0;
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    background-color: orange;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: none;
}

/* navbar styling ends here */

/* banner section starts here */
.banner-container{
    margin: 0 140.39px 0 141px;
    display: flex;
    gap: 50px;
    max-height: 575px;
}
.banner-texts{
    margin: 122px 0;
    max-width: 640px;
}
.banner-title{
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 24px;
}
.hero-bg{
    max-width: 468.61px;
}
.banner-subtitle{
    font-size: 13px;
    margin-bottom: 24px;
}
.enroll-btn{
    width: 197px;
    font-size: 13px;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 10px 47px;
    border-radius: 12px;
}
/* banner section ends here */

/* main stars here */
main{
    background-image: url(../assets/bg.png);
}
/* curriculum section starts here */
.curriculum-headline{
    padding: 60px 489.7px 80px 489.7px;
    font-size: 30px;
    font-weight: bold;
    width: 460.61px;
    height: 57.5px;
}
.curriculum-container{
    margin: 0 140px 80px 140px;
}
.curriculum-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 28.29px;
    text-align: center;
    height: 476.78px;
    
}
.curriculum-card-1{
    background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) 40%);
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
}
.curriculum-image{
    margin: 58.82px 0 32.07px 0;
}
.curriculum-title{
    font-size:16px;
    font-weight: bold;
    color: rgba(32, 32, 32, 1);
    margin-bottom: 33px;
}
.curriculum-subtitle{
    font-size: 15px;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
    margin: 0 40px 33px 40px;
    font-family: "Raleway", serif;
}
.read-more{
    font-size: 15px;
    font-weight: bold;
}
.curriculum-card-2{
    background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) 40%);
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
}
.curriculum-card-3{
    background-image: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) 40%);
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
}
/* curriculum section ends here */
.arrows{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.left-arrow{
    background-color: orange;
    width: 60px;
    height: 60px;
    /* margin-left: 655px; */
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.right-arrow{
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
/* main ends here */
